# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


 useEffect(() => {
    const handleResize = () => {
      // Check if the screen width is below a certain threshold (e.g., 1024 pixels)
      const isSmallScreen = window.innerWidth < 1024;

      // Set menu state based on the screen size
      setMenu(isSmallScreen);
      // Set other states as needed for small screens
    };

    // Initial check on mount
    handleResize();

    // Attach the event listener for window resize
    window.addEventListener("resize", handleResize);

    // Cleanup the event listener on component unmount
    return () => {
      window.removeEventListener("resize", handleResize);
    };
  }, []);
    